.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
}

.cdk-overlay-container {
  position: fixed;
  z-index: var(--neu-z-overlay, 1000);

  &:empty {
    display: none;
  }
}

.cdk-global-overlay-wrapper {
  position: absolute;
  display: flex;
  z-index: var(--neu-z-overlay, 1000);
}

.cdk-overlay-pane {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  max-inline-size: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right));
  max-block-size: calc(100dvh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  pointer-events: auto;
  z-index: var(--neu-z-overlay, 1000);
}

.cdk-overlay-backdrop {
  position: absolute;
  inset: 0;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  opacity: 0;
  z-index: var(--neu-z-overlay, 1000);
}

.cdk-overlay-transparent-backdrop {
  visibility: hidden;
  opacity: 1;
}

.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing,
.cdk-high-contrast-active .cdk-overlay-transparent-backdrop {
  visibility: visible;
  opacity: 0;
}

.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-inline-size: 1px;
  min-block-size: 1px;
  z-index: var(--neu-z-overlay, 1000);
}

.cdk-global-scrollblock {
  position: fixed;
  inline-size: 100%;
  overflow-y: scroll;
}
